* {
  box-sizing: border-box;
}

:root {
}

html {
  font-family: ;
  direction: ltr;
  font-size: ;
}

body {
  margin: 0;
  height: ;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

/* Fallbacks für manche Styles benutzen, S.13 unten */

/* Füge media queries ein, S.15 unten*/
